.ipynb_checkpoints/
.DS_Store
lectures/.DS_Store
lectures/data/.DS_Store
lectures/exercise_notebooks/.DS_Store
lectures/exercise_notebooks/.ipynb_checkpoints/
lectures/figure_notebooks/.DS_Store
lectures/figure_notebooks/.ipynb_checkpoints/
lectures/figure_notebooks/__pycache__/
lectures/figures/.DS_Store
lectures/slides/.DS_Store
problem_sets/.DS_Store
problem_sets/ps1/.DS_Store
problem_sets/ps1/.ipynb_checkpoints/
problem_sets/ps2/.ipynb_checkpoints/
problem_sets/ps3/.ipynb_checkpoints/
problem_sets/ps4/.DS_Store
problem_sets/ps4/.ipynb_checkpoints/
problem_sets/ps4/data/.DS_Store
student_resources/.DS_Store
student_resources/examples_and_tutorials/.DS_Store
student_resources/examples_and_tutorials/calculating-summary-statistics/.DS_Store
student_resources/examples_and_tutorials/calculating-summary-statistics/.ipynb_checkpoints/
student_resources/examples_and_tutorials/parsing-vcf-files/.DS_Store
student_resources/examples_and_tutorials/parsing-vcf-files/.ipynb_checkpoints/
student_resources/logistics/.DS_Store
